<main>
  <h1>Quizz : Les capitales d'Europe</h1>
  <p>Quelle est la capitale de la France ?</p>
  <form>
    <label>
      <input type="radio">
      <span>A</span>
      <span>Paris</span>
    </label>
    <label>
      <input type="radio">
      <span>B</span>
      <span>Londres</span>
    </label>
    <label>
      <input type="radio">
      <span>C</span>
      <span>Berlin</span>
    </label>
    <label>
      <input type="radio">
      <span>D</span>
      <span>Rome</span>
    </label>
    <button routerLink="/score" class="primary">Suivant</button>
  </form>
</main>
