<main>
  <h1>Quizz : {{ quizz.current.name }}</h1>
  <h2>
    Question : {{ myVeryNiceIndex }} / {{ quizz.current.questions.length }}
  </h2>
  <p>{{ quizz.current.questions[quizz.progress.questionId].label }}</p>
  <form [formGroup]="f" (ngSubmit)="submit()">
    <label *ngFor="let letter of ['A', 'B', 'C', 'D']">
      <input type="radio" [value]="letter" formControlName="answer" />
      <span>{{ letter }}</span>
      <span>{{
        quizz.current.questions[quizz.progress.questionId]['answer' + letter]
      }}</span>
    </label>
    <button [disabled]="f.invalid" type="submit" class="primary">
      Suivant
    </button>
  </form>
</main>
