<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
    blanditiis maxime! Eligendi id dolores dignissimos explicabo facere veniam
    inventore fugiat libero pariatur? Aperiam saepe possimus, similique voluptas
    quibusdam hic in.
  </p>
</main>
