div {
  margin: 1em 0 0.5em;
}

label.answer {
  display: flex;
  align-items: center;
  padding: 0.5em 0;

  span {
    width: 3em;
  }
}

div.buttons {
  display: flex;
  justify-content: space-between;
}
